{% extends "base.html" %}{% load static %}

{% block title %}
    <title>About</title>
{% endblock %}

{% block content %}
    <style>
        .slider_section2 .row2 {
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
        }
        #moreContent {
            display: none; /* ซ่อนเนื้อหาเพิ่มเติมในตอนแรก */
        }

        .long_section.expanded #moreContent {
            display: block; /* แสดงเนื้อหาเพิ่มเติมเมื่อคลิก */
        }

        .long_section.expanded img-box {
            position: static; /* ทำให้รูปภาพคงตำแหน่งเดิมเมื่อขยายเนื้อหา */
        }
    </style>
<body onload="activeShowPage()">
    <div class="lds-dual-ring" id="preLoader"></div>
    <div id="pageContent" class="content fadecontent">    
        <section class="about_section layout_padding long_section">
            <div class="container">
                <div class="row" style="margin-right: -120px; margin-left: -151px;">
                    <div class="col-md-6">
                        <div class="img-box">
                            <img src="{% static 'img/amic_ai.png' %}" alt="">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="detail-box">
                            <div class="heading_container">
                                <h2>เกี่ยวกับเรา</h2>
                            </div>
                            <p style="text-indent: 40px;">
                                เครื่องมือเฝ้าตรวจประเภทกล้องที่มีใช้งานในระบบเฝ้าตรวจชายแดนปัจจุบันมาจากการจัดหาจากต่างประเทศ
                                มีประสิทธิภาพในการเฝ้าตรวจ แต่ด้วยราคามูลค่าการจัดหาที่ค่อนข้างสูงทำให้ไม่สามารถจัดหาได้เพียงพอกับความต้องการ
                                ใช้งานตามขนาดของพื้นที่ชายแดนของประเทศได้ทั้งหมด นอกจากนี้ยังมีข้อจำกัดในเรื่องการใช้พลังงานไฟฟ้า ซึ่งเป็นข้อจำกัด
                                ของพื้นที่ชายแดน หรือการใช้พลังงานจากแบตเตอรี่อาจจะไม่มีความเสถียรในการจ่ายกระแส ซึ่งจะส่งผลกระทบต่อความ
                                ชำรุดเสียหายของอุปกรณ์
                            </p>
                            <p style="text-indent: 40px;">
                                แม้ว่าเครื่องมือเฝ้าตรวจประเภทกล้องชนิดต่างๆ เป็นเครื่องมือที่มีความน่าเชื่อถือของข่าวสารสูงมาก มักถูกนำมาใช้ในการเฝ้าตรวจ การรักษาความปลอดภัยสถานที่ อย่างไรก็ตาม จำเป็นต้องใช้เจ้าหน้าที่ในการวิเคราะห์ข้อมูลจากกล้องอีกส่วนหนึ่ง และด้วยการบันทึกภาพต่อเนื่องเป็นเวลานานจึงมีข้อมูลที่ต้องวิเคราะห์ในปริมาณที่มาก เป็นภาระงานที่ต้องใช้ความแม่นยำในการวิเคราะห์และประมวลผล
                            </p>
                            <p style="text-indent: 40px;">
                                ดังนั้นหน่วยจึงพิจารณาแนวทางในการวิจัยพัฒนาสำหรับเครื่องมือเฝ้าตรวจประเภทกล้องตรวจการณ์ที่มีความเหมาะสมกับสภาพพื้นที่ และมีความฉลาดประมวลผลด้วยกระบวนการ Machine Learning มาใช้เพื่อวิเคราะห์ข้อมูลภาพที่ได้จากกล้องตรวจการณ์ เพื่อแยกแยะประเภทของยานพาหนะ ยี่ห้อ รุ่น สี ของยานพาหนะ และอ่านป้ายทะเบียนรถยนต์ที่ผ่านจุดเฝ้าตรวจ ให้บันทึกภาพไว้ ณ สถานเฝ้าตรวจ ส่งข้อมูลกลับเฉพาะข้อความผลการเฝ้าตรวจ เพื่อความรวดเร็วในการแจ้งเตือน ให้ได้ข้อมูลที่ครอบคลุมพื้นที่เฝ้าระวัง ลดค่าใช้จ่าย และลดภาระงานของเจ้าหน้าที่
                            </p>
                            <a id="readMoreBtn" href="javascript:void(0);" onclick="toggleContent()">อ่านเพิ่มเติม</a>
                        </div>
                    </div>
                    <div class="col">
                            <div id="moreContent" style="display: none;">
                                <h3>วัตถุประสงค์ของการวิจัย</h3>
                                <ul>
                                    <li>เพื่อพัฒนากล้องปัญญาประดิษฐ์สำหรับการเฝ้าตรวจประจำด่านตรวจตามแนวชายแดน (ประเมินจากผลผลิตได้อุปกรณ์)</li>
                                    <li>เพื่อพัฒนาระบบประมวลผลแบบกระจายศักยภาพด้วยกระบวนการ Machine Learning ที่สามารถตรวจจับวัตถุ แยกแยะประเภท และจำจดป้ายทะเบียนรถยนต์ได้อย่างแม่นยำ (ประเมินจากผลทดสอบความแม่นยำของการรายงานผล)</li>
                                    <li>เพื่อพัฒนาระบบการรับ-ส่งผลการเฝ้าตรวจจากกล้องปัญญาประดิษฐ์ผ่านเครือข่ายวิทยุสื่อสาร (ประเมินจากผลทดสอบระยะเวลาในการรับส่งข้อมูล)</li>
                                    <li>เพื่อพัฒนาระบบฐานข้อมูลและการรายงานผล สนับสนุนกระบวนการตัดสินใจทางทหารให้กับ กกล.นเรศวร (ประเมินจากแบบสอบถาม ฝขว./ฝยก.กกล.นเรศวร)</li>
                                </ul>
                                <h3>โจทย์วิจัย</h3>
                                <p>การพัฒนาระบบกล้องปัญญาประดิษฐ์แบบกระจายศักยภาพ (Edge Computing) เพื่อตรวจจับและจำแนกวัตถุ พร้อมส่งข้อความรายงานผลแบบเรียลไทม์ผ่านวิทยุสื่อสาร เพื่อลดภาระงานของเจ้าหน้าที่และเพิ่มประสิทธิภาพในการรักษาความมั่นคง</p>

                                <h3>สมมติฐานการวิจัย</h3>
                                <ul>
                                    <li>ระบบประมวลผลแบบกระจายศักยภาพ (Edge Computing) ที่ใช้ Algorithm การเรียนรู้ของเครื่องจักร (Machine Learning) จะตรวจจับ จำแนกประเภทวัตถุ สี และจำจดป้ายทะเบียนรถด้วยอัตราความแม่นยำที่มากกว่า 95%</li>
                                    <li>ระบบการสื่อสารจะส่งผลการเฝ้าระวังแบบใกล้เคียงเวลาจริง (near-Real Time) จากกล้องปัญญาประดิษฐ์ไปยังกองบัญชาการของกองกำลังป้องกันชายแดนได้อย่างน่าเชื่อถือ ผ่านเครือข่ายวิทยุโดยมีเวลาในการรับ-ส่งข้อมูลน้อยกว่า 1 นาที</li>
                                    <li>ระบบฐานข้อมูลและการรายงานจะช่วยปรับปรุงประสิทธิภาพการตัดสินใจ โดยให้ข้อมูลที่แม่นยำแบบใกล้เคียงเวลาจริง ส่งผลให้มีข้อมูลมากขึ้นในการประเมินสถานการณ์ และสนับสนุนกระบวนการตัดสินใจทางทหารได้อย่างรวดเร็ว</li>
                                </ul>

                                <h3>ขอบเขตการวิจัย</h3>
                                <p>เนื้อหา: การวิจัยและพัฒนาครอบคลุมการสร้างระบบกล้องปัญญาประดิษฐ์สำหรับการตรวจจับ จำแนกประเภท สีของยานพาหนะ และการจำจดป้ายทะเบียนรถยนต์ ระบบนี้จะใช้การประมวลผลแบบกระจายศักยภาพ (Edge Computing) ซึ่งช่วยให้การประมวลผลสามารถดำเนินการได้ที่ตัวกล้องเองโดยไม่ต้องพึ่งพาการส่งข้อมูลไปยังส่วนกลาง</p>
                                <p>พื้นที่: การทดสอบและประเมินผลระบบจะดำเนินการบนเส้นทางตามแนวชายแดนในพื้นที่จังหวัดแม่ฮ่องสอนและจังหวัดตาก</p>
                                <p>เวลา: การวิจัยจะใช้ระยะเวลา 1 ปี ครอบคลุมกระบวนการทั้งหมดตั้งแต่การออกแบบและพัฒนาระบบไปจนถึงการทดสอบภาคสนาม</p>

                                <h3>ประโยชน์ที่คาดว่าจะได้รับ</h3>
                                <ul>
                                    <li>หน่วยข่าวกรองทางทหารจะมีองค์ความรู้และสามารถประยุกต์ใช้เทคโนโลยีปัญญาประดิษฐ์ในการผลิตอุปกรณ์อิเล็กทรอนิกส์ประเภทกล้องเฝ้าตรวจได้</li>
                                    <li>กองกำลังนเรศวรจะได้รับระบบกล้องปัญญาประดิษฐ์มาใช้ในการเฝ้าตรวจชายแดน ช่วยให้เจ้าหน้าที่สามารถประเมินภัยคุกคามตามแนวชายแดนได้อย่างรวดเร็ว ถูกต้อง และแม่นยำ</li>
                                    <li>กองทัพบกสามารถนำระบบกล้องปัญญาประดิษฐ์มาใช้ร่วมกับเครื่องมือในระบบเฝ้าตรวจอื่น ๆ เพื่อเพิ่มประสิทธิภาพในการบริหารจัดการชายแดน</li>
                                    <li>การวิจัยจะช่วยเพิ่มประสิทธิภาพในการรักษาความมั่นคง ด้วยระบบที่พัฒนาให้สามารถลดภาระงานของเจ้าหน้าที่ในการตรวจสอบภาพจากกล้อง ช่วยประหยัดงบประมาณในการติดตั้ง ค่าบำรุงรักษา และค่าเช่าใช้บริการเครือข่ายในการรับส่งข้อมูล</li>
                                </ul>
                            </div>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    </body>    
    <script>
        function toggleContent() {
            var section = document.querySelector('.long_section');
            var moreContent = document.getElementById('moreContent');
            var readMoreBtn = document.getElementById('readMoreBtn');

            // Toggle the 'expanded' class to the section
            section.classList.toggle('expanded');

            // Toggle display of more content
            if (section.classList.contains('expanded')) {
                moreContent.style.display = 'block'; // แสดงเนื้อหาเพิ่มเติม
                readMoreBtn.innerText = 'ย่อข้อความ';
            } else {
                moreContent.style.display = 'none'; // ซ่อนเนื้อหาเพิ่มเติม
                readMoreBtn.innerText = 'อ่านเพิ่มเติม';
            }
        }
    </script>
{% endblock %}